*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body {

    background-image: url("img/carro.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;  
}
form{
    position: absolute;
    min-width: 280px;
    max-width: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    box-shadow: 0 1rem 1rem  rgba(0, 0, 0, 0.3);
    background-color: rgba(170, 130, 130, 0.486);
    backdrop-filter: blur(1rem);
    border-radius: 5px;
    color: rgb(247, 242, 242);
}
h1{
    position: relative;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 7px;
}
h1::after{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(179, 170, 170);
    width: 120px;
    left: 0;
    bottom: 0;    
}
input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 1px;
}

.acuerdo{
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
}
button{
    display: block;
    margin: auto;
    width: 100%;
    height:40px ;
    background-color: #301d1d96;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: rgb(153, 141, 141);
}
.link{
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
}

.logo{
    position: absolute;
    top: 15%;
    left: 47%;
    height: 135px;
    width: 122px;
    border-radius: 50%;
}