@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
html, body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}


